.App {
  margin: 0 auto;
}

/* -------TOPBAR---------- */

.topBar {
  background-image: linear-gradient(45deg, #D15C79 0%, #F8CFD0 99%, #F8CFD0 100%);
}

.navbar{
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.link {
  text-decoration: none;
}

.navLink {
  font-size: 1.8rem;
  color: #F8CFD0;
  text-decoration: none;
  padding: 5px 10px;
  margin: 10px 5px;
}

.navLink:hover {
  color: #ffffff;
}

/* ---------STORIES LIST----------- */


.storiesWrapper{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;;
}

.storyCardWrapper{
  margin: 20px 10px 0 10px;
  padding: 1rem 1rem .8rem 1rem;
  background-color: #dbe7ff;
  background-image: linear-gradient(45deg, #dbe7ff 0%,  #f1f4fd 100%);
  border-radius: 7px;
}

.storyCard{
  width: 33rem;
}

.storyAuthor {
  font-weight: bold;
  font-size: 2rem;
  color: #3F4652;
  height: 3rem;
}

.storyCountry {
  font-size: 1.6rem;
  color: #3F4652;
  height: 3rem;
}

.storySnippet {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #3F4652;
  height: 5rem;
}

.storyPix{
  width: 100%;
  background-color: #dbe7ff;
  border-radius: 7px;
}

/* ---------SINGLE STORY VIEW------------ */

.storyViewWrapper{
  max-width: 600px;
  margin: 0 auto;
  padding: 2.5rem 10px;
  /* border: 1px solid red; */
}

.storyViewTitle{
  font-weight: bold;
  font-size: 3rem;
  color: #3F4652;
  margin-bottom: 1.5rem;
}

.storyViewAuthor {
  font-size: 2.2rem;
  /* font-weight: bold; */
  color: #3F4652;
  margin-bottom: 1.5rem;
}

.storyViewCountry {
  font-size: 1.6rem;
  color: #3F4652;
  padding-bottom: 2rem;
  border-bottom: .5rem solid #dbe7ff;
  margin-bottom: 2rem;
}

.storyViewBody {
  font-size: 1.4rem;
  color: #3F4652;
  margin-bottom: 10px;
  line-height: 2.5rem;
}

/* ------------Add Story Form--------------- */

.addStoryFormWrapper{
  max-width: 600px; 
  margin: 20px auto;
}

.addStoryTitle {
  font-size: 3rem;
  color: #3F4652;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.inputBox{
  margin-bottom: 20px;
  height: 40px;
  font-size: 1.6rem;
  color: #3F4652;
}

.submitBtn {
  width: 125px;  
  font-size: 1.4rem;
  font-weight: bold;
  color: #3F4652;
  text-decoration: none;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #3F4652;
  background-color: white;
  border-radius: 5px;
}

/* ---------------Admin---------------- */

.adminNavbar{
  max-width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
}

.navAdminLink {
  font-size: 1.8rem;
  color: #3F4652;
  text-decoration: none;
  padding: 8px 20px;
  background-color: #dbe7ff;
  border-radius: 7px;
  border: 2px solid #dbe7ff;
  margin: 20px 0;
}

.navAdminLink:hover {
  color: #3F4652;
  background-color: #ffffff;
}

.adminContent {
  max-width: 600px;
  margin: 0 auto;

}

.adminText {
  font-size: 3rem;
  line-height: 4rem;
  text-align: center;
  color: #3F4652;
  margin: 20px 0;
}

.signInForm{
  padding: 0 10px 10px 10px;
  margin: auto;
}

.formInput{
  width: 100%;
  padding: 1rem;
  margin-bottom: 10px;
  font-size: 1.6rem;
  color: #3F4652;
  border: 2px solid #d85968;
  border-radius: 7px;
  outline: none;
}

.submitBtn{
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  color: #3F4652;
  text-decoration: none;
  padding: 10px;
  margin-top: 20px;
  border: 2px solid #dbe7ff;
  background-color: #dbe7ff;
  border-radius: 7px;
  outline: none;
}

.submitBtn:hover {
  color: #3F4652;
  background-color: #ffffff;
}

.adminStoriesListUl {
  border-top: .5rem solid #dbe7ff;
  padding-top: 1rem;
}

.adminStoriesListLink {
  text-decoration: none;
}


.adminStoriesList{
  font-size: 2rem;
  text-align: center;
  color: #3F4652;
  margin: 20px 0;
}

.adminStoriesList:hover {
  color: #d85968;
}

/* ------------Update Form--------------- */

.updateForm {
  max-width: 600px;
  padding: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
}

.updateForm h5 {
  font-size: 1.2rem;
  padding-bottom: .5rem;
}


